<<<<<<< HEAD
body {
    background-color: #f8f9fa;
}
#resultCard {
    margin-top: 20px;
}
=======
body {
    background-color: #f8f9fa;
}
#resultCard {
    margin-top: 20px;
}
>>>>>>> b43b991 (Initial commit of local folder)
